<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>
    <div class="modal-body">
        <table class="table table-responsive table-hover">
            
           
            <tr>
                <td>
                    <h4 class="modal-title">Имя пользователя:</h4>
                    <div class="form-group">
                        <input title="" type="text" class="form-control" ng-model="formData.Username" />
                    </div>
                    <h4 class="modal-title">Пароль:</h4>
                    <div class="form-group">
                        <input title="Пароль" type="password" class="form-control" ng-model="formData.Password" />
                    </div>
                </td>
                
            </tr>
            
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary val-btn" ng-click="ok()">Ok</button>
    </div>
</div>
<style>
    .modal-dialog {
        width: 25%;
    }
</style>
