<div class="row col-lg-12">
    <div class="panel panel-default val-panel">
        <div class="panel-heading">
            <div class="row">
                <h3 class="col-lg-4 val-text nopadding"></h3>

                <div class="col-lg-5 pull-right">
                    <button class="btn btn-primary val-btn pull-right" ng-click="export()">Выгрузить авансовые отчеты</button>
                </div>
            </div>
        </div>
        <!--<div class="panel-body">
            <div class="form-group">
                <label class="col-lg-4 control-label">{{data.Message}}</label>
            </div>

        </div>-->
    </div>
</div>