<div class="row col-lg-12">
    <div class="panel panel-default val-panel">
        <div class="panel-heading">
            <div class="pull-right">
                <select selectpicker ng-model="selectedDateRangeCriteria" ng-change="reload()">
                    <option ng-repeat="c in ['Месяц', 'Квартал', 'Год', 'Все']">{{c}}</option>
                </select>
            </div>
            <div class="row">
                <h3 class="col-lg-4 val-text nopadding">Загрузка данных</h3>
                <div class="col-lg-5 pull-right">
                    <button class="btn btn-primary val-btn pull-right" ng-click="update()">Обновить справочник</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize class="grid" ng-style="{height: gridOptions.appScopeProvider.getGridHeight()}"></div>
        </div>
    </div>

</div>