<div class="row col-lg-12">
    <div class="panel panel-default val-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="form-inline col-lg-3">
                    <div class="form-group">
                        <h3 class="col-lg-12 val-text">Сотрудники</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <input type="text" class="form-control" ng-model="searchFilter"
                           ng-model-options="{ debounce: 500 }"
                           ng-change="reload(searchFilter)"/>
                </div>
                <button class="btn btn-primary val-btn" ng-click="reload()">Найти сотрудника</button>
                <button class="btn btn-primary val-btn" ng-click="export(searchFilter)">Экспорт</button>
            </div>
        </div>
        <div class="table-responsive">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize class="grid" ng-style="{height: gridOptions.appScopeProvider.getGridHeight()}"></div>
        </div>

    </div>
</div>