<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{row.IsNew ? 'Добавление' : 'Редактирование'}}</h4>
    </div>
    <div class="modal-body">
       
        <form name="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Фамилия</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="row.SecondName" placeholder="Фамилия" validation-name="name" validation-dynamically-defined="validations">
                </div>
            </div>
            <div class="form-group">
                <label f class="col-sm-2 control-label">Имя</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="row.Name" placeholder="Имя" validation-name="name" validation-dynamically-defined="validations">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">Отчество</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="row.MiddleName"  placeholder="Отчество" validation-name="name" validation-dynamically-defined="validations">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">Организация</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="row.Organization"  placeholder="Организация" validation-name="name" validation-dynamically-defined="validations">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Должность</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="row.Position" placeholder="Должность" validation-name="name" validation-dynamically-defined="validations">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Номер действующего договора с ООО «ВАЛЕАНТ»</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="row.AgreementNumber" placeholder="Номер договора" validation-name="name" validation-dynamically-defined="validations">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary val-btn" ng-click="ok()">Закрыть и сохранить</button>
    </div>
</div>
<style>
    .modal-dialog {
        width: 45%;
    }
</style>
