<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup><DeployIisAppPath>Default Web Site/uprs</DeployIisAppPath>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app-1.apps.test.local.lab/uprs</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>C:\Valeant\uprs</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>92c32b04-efed-472b-8b68-6e45c5b563f6</DefaultValue>
      <Value>92c32b04-efed-472b-8b68-6e45c5b563f6</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSigningCertificatePath">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePath']/@value</Match>
      <Description>Value for ClientSigningCertificatePath here.</Description>
      <DefaultValue>C:\Certs\rusmow05vs10.pfx</DefaultValue>
      <Value>C:\Certs\rusmow05vs10.pfx</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSigningCertificatePassword">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePassword']/@value</Match>
      <Description>Value for ClientSigningCertificatePassword here.</Description>
      <DefaultValue>Password1</DefaultValue>
      <Value>Password1</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="IssuerId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='IssuerId']/@value</Match>
      <Description>Value for IssuerId here.</Description>
      <DefaultValue>11111111-ffff-1111-ffff-eeeeeeeeeeee</DefaultValue>
      <Value>11111111-ffff-1111-ffff-eeeeeeeeeeee</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
</Project>